<!-- index.html-->

{% extends "includes/raw.html" %}
{% block title %}Exercise{% endblock %}
{% block heading %}Exercise{% endblock %}
{% block body %}

<form action = "{{ url_for('exercise')}}" method="POST" enctype = "multipart/form-data">
    <div class="d-flex">
        <select class="form-select me-3" name= lectures method="POST" action="{{ url_for('exercise')}}">
        {% for lecture in lectures %}
        <option value= "{{lecture}}" name="lecture_name" SELECTED>{{lecture}}</option>"
        {% endfor %}
        </select>
        <button type="submit" name="btn_start" value="start" class="btn btn-primary">Start</button>
    </div>
</form>


{% endblock %}

