<!-- index.html-->

{% extends "includes/raw.html" %}
{% block title %}Exercise{% endblock %}
{% block heading %}Exercise{% endblock %}
{% block body %}

<form action = "http://localhost:5000/initial_exercising" method="POST" enctype = "multipart/form-data">
    <div class="d-flex">
        <select class="form-select me-3" name= lectures method="POST" action="http://localhost:5000/initial_exercising">
        {% for lecture in lectures %}
        <option value= "{{lecture}}" name="lecture_name" SELECTED>{{lecture}}</option>"
        {% endfor %}
        </select>
        <button name= Continue value="Continue" class="btn btn-primary me-3">Continue</button>
        <button name=Start_over value="Start_over" class="btn btn-secondary" style="white-space: nowrap">Start over</button>
    </div>
</form>


{% endblock %}

