<!-- index.html-->

{% extends "includes/raw.html" %}
{% block title %}Learning{% endblock %}
{% block heading %}Learning{% endblock %}
{% block body %}
<div>
      <form action = "http://localhost:5000/text" method = "POST"
         enctype = "multipart/form-data" >
          <select name= lectures method="POST" action="http://localhost:5000/text">
          {% for lecture in lectures %}
          <option value= "{{lecture}}" SELECTED>{{lecture}}</option>"
          {% endfor %}
          </select>
         <input type = "submit" value="Submit"/>
      </form>

</div>


{% endblock %}

