<!-- index.html-->

{% extends "includes/raw.html" %}
{% block title %}Learning{% endblock %}
{% block heading %}Learning{% endblock %}
{% block body %}

<form action = "http://localhost:5000/text" method = "POST"
   enctype = "multipart/form-data" >
   <div class="d-flex">
      <select class="form-select me-3" name= lectures method="POST" action="http://localhost:5000/text">
      {% for lecture in lectures %}
      <option value= "{{lecture}}" SELECTED>{{lecture}}</option>"
      {% endfor %}
      </select>
      <input type = "submit" value="Submit" class="btn btn-primary"/>
   </div>
</form>

{% endblock %}

