<!-- upload.html-->

{% extends "includes/raw.html" %}
{% block title %}Upload{% endblock %}
{% block heading %}Upload{% endblock %}
{% block body %}

<div>
   <body>
      <form action = "http://localhost:5000/uploader" method = "POST"
         enctype = "multipart/form-data" >
         <div class="d-flex">
            <input type = "file" name = "file" class="form-control me-3">
            <input type = "submit" value="Submit" class="btn btn-primary"/>
         </div>
      </form>
   </body>
   <div class="form-text m-1">
      Allowed Filetypes: 'docx'
  </div>

{% endblock %}