<!-- upload.html-->

{% extends "includes/raw.html" %}
{% block title %}Upload{% endblock %}
{% block heading %}Upload{% endblock %}
{% block body %}

<div>
   <body>
      <form action = "http://localhost:5000/uploader" method = "POST"
         enctype = "multipart/form-data" >
         <div class="d-flex">
            <input type = "file" name = "file" class="form-control me-3">
            <input type = "submit" value="Submit" class="btn btn-primary"/>
         </div>
      </form>
   </body>
   <p></p>
   <div class="form-text m-1">
      <p>The following points must be considered in the uploaded document:</p>
      <ul>
          <li>File format: DOCX</li>
          <li>The various heading functions must be used within the document in order to enable an adequate allocation of chapters and sub-chapters</li>
          <li>Continuous text is preferable (no bullet points)</li>
          <li>Special characters that deviate from normal body text should be avoided (this also applies to quotations in square brackets)</li>
          <li>Do not use empty chapters - every chapter needs a corresponding text</li>
          <li>Do not push the "Submit"-Button, if you haven't selected a file</li>
          <li>Do not upload the same file two times</li>
      </ul>
   </div>
</div>

{% endblock %}